.sub-header .main {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:
    linear-gradient(rgba(5,20,50,0.7), rgba(5,20,50,0.7)),
    url("../../assets/images/background/home-background.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.sub-header .main .sub-header .title {
  font-size: 4rem;
}

/* Button Section */

.sub-header .main .button-section {
  display: flex;
  justify-content: space-evenly;
}

.sub-header .main .button-section .glass-btn {
  background: rgba(128, 128, 128, 0.306);
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 20px;
  color: #fff;
}

/* Search Section */

.search-section{
  height: 100px;
  background-color: #0c1130;
  border: solid 2px #353a5c70;
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}