.my-card {
  background-color: gray;
  height: 450px;
}

.my-card .image{
    height: 50%;
}

.my-card .title{
    height: 16.6%;
}

.my-card .rate{
    height: 16.6%;
}

.my-card .booking{
    height: 16.6%;
}